    
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image:url(/assets/hero-gradient.) ;
    background-position: center top;
    cursor:none;
    max-width: 100vw;
    overflow-x:initial;

}

html{
scroll-behavior:smooth;
}

body{
    font-feature-settings: "ss01","ss02";
    background-color: #000;
    opacity: 1;
    transition: opacity 0.6s ease;
  }


body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: black;
    z-index: -1;
}
  

  section{
    background: black;
  }


  /* Preloader 容器 */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000; /* 可以改成黑色或渐变 */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    transition: opacity 0.4s ease, visibility 0.8s;
  }
  
  /* 隐藏状态 */
  #preloader.hidden {
    opacity: 0;
    visibility: hidden;
  }
  
  /* Loader（简单旋转） */
  .loader {
    width: 40px;
    height: 40px;
    border: 3px solid rgba(255, 255, 255, 0.1);
    border-top: 3px solid rgb(233, 233, 233);
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  /* 动画 */
  @keyframes spin {
    to { transform: rotate(360deg); }
  }

.custom-cursor{
    position:fixed;
    top:0;
    left:0;
    
    width:28px;
    height:28px;
    border-radius:50%;
    
    background:white;
    
    pointer-events:none;
    
    mix-blend-mode:difference;
    
    z-index:999999;
    
    transform:translate(-50%,-50%);
    
    /* Safari 必须 */
    isolation:isolate;
}


.custom-cursor.hover{
    transform:translate(-50%,-50%) scale(1.5);
}


@font-face {
    font-family: "Afacad";
    src: url("./fonts/Afacad[wght].woff2") format("woff2");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Afacad";
    src: url("./fonts/Afacad-Italic[wght].woff2") format("woff2");
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

  /* navigation */
.nav{
    position:fixed;
    top:10px;
    left:0;

    width:100%;
    height:50px;

    display:flex;
    align-items:center;
    justify-content:space-between;

    padding:0 10px;

    z-index:20;
}

.nav-left{
    height:20px;
    margin-left: 20px;
    z-index:20;
    color: #fff;

}

.nav-left img{
    height:20px;
    z-index:20;

}
.nav-center{
    height:15px;
    margin-right: -20px;
    z-index:20;
}

.nav-center img{
    height:15px;
}

.nav-right{
    display:flex;
    gap:20px;
    background-color: #000;
    border-radius: 15px;
    height: 30px;
    width: 70px;
    align-items: center;
    align-content: center;
    margin-right: 30px;
    justify-content: center; 
}

.nav-right a{
    text-decoration:none;
    color:white;
    font-size:15px;
    letter-spacing:0.03em;
    font-family: 'Afacad', sans-serif;
    font-weight: 100;
    align-self: center;
}


.nav-right a:hover{
    text-decoration:none;
    color:rgb(255, 255, 255);
    font-size:15px;
    letter-spacing:0.03em;
    font-family: 'Afacad', sans-serif;
    font-weight: 100;
    align-self: center;
    filter: drop-shadow(0 0 8px rgba(255,255,255,0.9))
    drop-shadow(0 0 20px rgba(255,255,255,0.8));
}



.nav{
    opacity: 0;
    transform: translateY(-20px);
    animation: navFadeIn 1s ease forwards;
    animation-delay: 0.3s;
}

@keyframes navFadeIn{

    from{
      opacity:0;
      transform: translateY(-20px);
    }
  
    to{
      opacity:1;
      transform: translateY(0);
    }
  
}

.nav-center{
    opacity:0;
    transform:translateY(-10px);
    animation:navFadeIn .8s ease forwards;
    animation-delay:.2s;
  }
  
.nav-right{
    opacity:0;
    transform:translateY(-10px);
    animation:navFadeIn .8s ease forwards;
    animation-delay:.5s;
}

  /* hero section*/





.hero{
    min-height:100vh;
    position: relative;
}
     
.hero-title{
    margin-top: 40vh;
    opacity:0;
    animation: heroTitleEntrance 1.5s cubic-bezier(.22,1,.36,1) forwards;
    animation-delay: 0.4s;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    z-index:10; 
    padding-left: 40px;
    padding-right: 40px;
    opacity: 0;
}


@keyframes heroTitleEntrance {

    from{
      opacity:0;
      transform: translateX(-40px);
    }
  
    to{
      opacity:1;
      transform: translateX(0);
    }
  
}

.title-main {
    height: 10vh;
    filter: drop-shadow(0 0 8px rgba(255,255,255,0.5))
    drop-shadow(0 0 20px rgba(255,255,255,0.3));
    clip-path: inset(0 0 0 0);
    transition: heroTitleEntrance 1.5s cubic-bezier(.22,1,.36,1), opacity 0.8s;
}

.title-main.hidden{
    
    transform:translateX(-0px);
    opacity:0;

    
}

.title-maincn {
    height: 5vh;
    margin-top: -0.1fr;
    filter: drop-shadow(0 0 8px rgba(255,255,255,0.5))
    drop-shadow(0 0 20px rgba(255,255,255,0.3));
    clip-path: inset(0 0 0 0);
    transition: heroTitleEntrance 1.5s cubic-bezier(.22,1,.36,1), opacity 0.8s;
}


.title-maincn.hidden{
    
    transform:translateX(-0px);
    opacity:0;

}



.hero-title2{
    
    padding-left: 40px;
    padding-right: 40px;
    opacity: 1;
    z-index: 30;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    top: 100%;


}

.title-main2 {
    height: 10vh;
    filter: drop-shadow(0 0 8px rgba(255,255,255,0.5))
    drop-shadow(0 0 20px rgba(255,255,255,0.3));
    clip-path: inset(0 0 0 0);
    margin-bottom:20px;
}

.title-maincn2 {
    height: 10vh;
    margin-top: -0.1fr;
    filter: drop-shadow(0 0 8px rgba(255,255,255,0.5))
    drop-shadow(0 0 20px rgba(255,255,255,0.3));
    clip-path: inset(0 0 0 0);
}


.hidden {
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;

  }
  
.visible {
    opacity: 1;
    transform: translateY(-20px);
    transition-delay: 2s;
  }
  
  .title-main,
  .title-maincn,
  .title-main2 {
    transition: all 1.5s cubic-bezier(0.3,0.8,0.2,1);
  }

  .title-maincn2 {
    transition: all 1.5s cubic-bezier(0.3,0.8,0.2,1);
    transition-delay: 0.4s;
  }

.hero-title{


    opacity:1;
    transform:translateY(0);
    transition: all .6s cubic-bezier(.22,1,.36,1);
    position:absolute;
    top:0%;
    left:0%;

    transform:translate(-50%,-50%);
    z-index:2;  
    
}
    
.hero-title.hidden{
    
    opacity:0;
    transform: translateY(-40px);
    
}






.scrollIndicator{
    position:absolute;
    top:50%;
    right: 0%;
    font-size:12px;
    letter-spacing:3px;
    color:white;
    opacity:0.7;
    font-family: 'Afacad', sans-serif;
    font-weight: 100;
    transition:opacity 0.6s ease;
    pointer-events:none;
    z-index: 30;
    letter-spacing:0.03em;
}


.feature-section {
    min-height:100vh;
}

.feature-grid {
    display: grid;
  grid-template-columns: 12px 1fr; /* 👈 核心 */
  column-gap: 16px;

    grid-template-rows: auto auto;
    row-gap: 20px;
    grid-template-columns: 12px 1fr !important;
  }
  
  /* 👇 TITLE 横跨两列 */
  .title-row {
    grid-column: 1 / -1;
  }
  
  /* 👇 左线在第二行 */
  .line-col {
    grid-column: 1;
    grid-row: 2;
  }
  
  /* 👇 内容在第二行 */
  .content-col {
    grid-column: 2;
    grid-row: 2;
  }
    

.page-gradient{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:autopx;
    overflow: scroll;
    z-index:-1;
}


spline-viewer {
    width: 100%;
    height: 120vh;
    z-index: 1;
    position:absolute;

}

.splineafter{
    height: 100vh;
    position:fixed;
}

#spline-layer{
    width:100%;
    height:120vh;
    transition: transform .4s ease;
    left: 0;
    z-index: 1;
    pointer-events: none;
    position:absolute;
}
    
    /* 默认 fixed */
    
#spline-layer.fixed{
    position: fixed;
    top:0;
    left:0;
}
    
    /* 进入 section 后 */
    
#spline-layer.sticky{
    position: sticky;
    top:0;
}



.line-container {
    position: sticky;
    left: 40px;   /* 根据你布局改 */
    top: -80px;
    height: 15vh;
    width: 2px;
  }
  
  .line {
    width: 100%;
    height: 0%; /* 👈 scroll 控制 */
  
    /* ✅ 虚线的关键 */
    background: repeating-linear-gradient(
      to bottom,
      #ffffff 0px,
      #ffffff 6px,
      transparent 3px,
      transparent 6px
    );
  
    /* ✨ glow */
    box-shadow:
      0 0 6px #ffffff,
      0 0 12px #ffffff,
      0 0 20px #ffffff;
  
    border-radius: 2px;
  }

.hero{
     height:100vh;
     position:relative;
     background-color: #000;
}




    /*explore*/

#triggerSection {
    position: relative;
    max-height: 80vh;
    margin-top: 30vh;
    margin-bottom: 50vh;
}

.triggerSection{
    max-height: 100vh;
    z-index: 500;

}

#launchLine {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
  
    opacity: 0;
  
    filter: drop-shadow(0 0 8px rgba(255,255,255,0.8));
  }



  /* 🔥 居中按钮 */
  .scroll-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    width: 80px;
    height: 80px;
    border-radius: 50%;
  
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
  
    border: 1px solid rgba(255,255,255,0.3);
  
    cursor: pointer;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* 🔥 中心白点 */
  .scroll-btn .inner {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: white;
  }
  
  /* 🔥 发光效果（呼吸） */
  .scroll-btn::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
  
    box-shadow: 0 0 20px rgba(255,255,255,0.5),
                0 0 40px rgba(255,255,255,0.3);
  
    animation: pulseGlow 2s infinite;
  }
  
  @keyframes pulseGlow {
    0% {
      opacity: 0.4;
      transform: scale(0.9);
    }
    50% {
      opacity: 1;
      transform: scale(1.2);
    }
    100% {
      opacity: 0.4;
      transform: scale(0.9);
    }
  }


.btn{
    display: inline-block;
    z-index: 13;
    justify-content: left;
    vertical-align: bottom;
}

.btn a{
    position: relative;
    display: inline-block;
    padding: 20px 0px;
    margin-left: -10px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 1px;
    overflow: hidden;
    z-index: 13;
    font-family: 'Afacad', sans-serif;
    font-weight: 100;
    font-size: 23PX;
    justify-self: center;
    justify-content:center;

}

.btn2 a:hover{
    background: #fbffff;
    color: #050801;
    box-shadow: 0 05px #fdffff, 0 0 25px #ffffff, 0 0 50px #ffffff, 0 0 200px #ffffff;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.btn2 a:nth-child(1){
    filter: hue-rotate(270deg);
    height: 70%;
    width: 6vw;
    border-radius: 10px;
}

.btn2 a:nth-child(2){
    filter: hue-rotate(110deg);
    height: 70%;
    width: 6vw;
    border-radius: 10px;
}

.btn2 a span{
    position: absolute;
    display: block;

}

.btn2 a span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #ffffff);
    animation: animate1 1s linear infinite;
}

@keyframes animate1{
    0%{
        left: -100%;
    }
    50%, 100%{
        left: 100%;
    }
}

.btn2 a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 90%;
    background: linear-gradient(180deg, transparent, #ffffff);
    animation: animate2 1.5s linear infinite;
    animation-delay: 0.25s;
}

@keyframes animate2{
    0%{
        top: -100%;
    }
    50%, 100%{
        top: 100%;
    }
}

.btn2 a span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #ffffff);
    animation: animate3 1.5s linear infinite;
    animation-delay: 0.50s;
}

@keyframes animate3{
    0%{
        right: -100%;
    }

    50%, 100%{
        right: 100%;
    }
}
.btn2 a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 90%;
    background: linear-gradient(360deg, transparent, #ffffff);
    animation: animate4 1.5s linear infinite;
    animation-delay: 0.75s;
}

@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%, 100%{
        bottom: 100%;
    }
}




.feature-section{
  margin-top: 0vh;
  padding:30px;
  background: transparent;    
  border-radius:18px;
  max-height: 100vh;
}
    

.feature-grid{    
 display:grid;   
    /* 响应式列数 */
 grid-template-columns:repeat(auto-fit,minmax(220px,1fr));    
 grid-auto-rows:10px;
 gap:10px;
 z-index: 10;
}

.diagram{
    width: 40vh;
    height: auto;
    position: relative;
    top: 0%;
    z-index: 1;
    mix-blend-mode: screen;
    opacity: 0.8;
    transition: opacity 1.2s cubic-bezier(0.3,0.8,0.2,1);

}
    

.feature-section2 {
    width: 100vw;
    height:100vh;
  
    background: black;
  
    /* 👉 左右 padding（你图里的黑边） */
  
    display: grid;
    align-items: center; 
    margin-bottom: 30px;
    
    position: relative;

  }

  .grid {
    max-width: 90vw;
    max-height: 95vh;
    min-height: 95vh;
    position: absolute;
    margin-left: 5vw;
    margin-right: 5vw;
    display: grid;
  
    /* 👉 列（红色） */
    grid-template-columns: repeat(12, 1fr);
  
    /* 👉 行 */
    grid-template-rows: repeat(6, 1fr);

  
  
    /* 👉 gap（蓝色） */
    gap: 20px;

    z-index: 4;

    grid-area: 1 / 1;   /* 🔥 重叠关键 */

    padding: 5%;
  }

  .card {
    background: rgba(250, 250, 250, 0.168);
     border-radius: 16px;
     box-shadow: 0 4px 30px rgba(64, 54, 54, 0.1);
     backdrop-filter: blur(10px);
     -webkit-backdrop-filter: blur(8px);
     border: 0.5px solid rgba(255, 255, 255, 0.3);
     padding-left: 1%;
     padding-right: 1%;
     animation: float 6s ease-in-out infinite;
  }

  .card {
      z-index: 50;
    animation: float 6s ease-in-out infinite;
    outline: 0.5px solid rgba(255, 255, 255, 0.116);
  }
  
  /* 🔥 微悬浮动画 */
  @keyframes float {
    0% {
      transform: translateY(0px) scale(1);
    }
  
    50% {
      transform: translateY(-9px) scale(0.99);
    }
  
    100% {
      transform: translateY(0px) scale(1);
    }
  }



  .card {
    transition: all 0.3s ease;
  }
  
  .card:hover {
    box-shadow: 0 4px 10px rgba(239, 239, 239, 0.42);
    background: rgba(255, 255, 255, 0.069);
}



.card {
    opacity: 0;
    transition: opacity 1s cubic-bezier(0.3,0.8,0.2,1),
          
  }



  .card-4 {
    grid-column: 1 / span 2;
    grid-row: 6 / span 3;
    margin-left: 28%;
    margin-right: -28%;
    margin-top: -50%;
    margin-bottom: 65%;
    opacity: 0.6;
    z-index: 10;
  }

  .card-4:hover{
    margin-left: 28%;
    margin-right: -28%;
    margin-top: -64%;
    margin-bottom: 48%;
    opacity: 0.6;
  }


  .card-4:hover .icon{

    opacity: 1;
}

.card-4:hover .ui{

    opacity: 1;
    transform: scale(1);

    transition: opacity 0.4s ease, transform 0.4s ease;

   animation: spin 3s linear infinite;
   top: 80%;
   left: 42%;
}


  .card-1 {
    grid-column: 3 / span 2;
    grid-row: 2 / span 1;
    margin-top: 20%;
    margin-bottom: -20%;
    opacity: 0.6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  /* 👈 关键 */
    padding: 10px;
  }

  .card-1:hover{
    height: 135%;
    margin-top: 10%;
    margin-bottom: -10%;
 
}

.card-1:hover .icon{

    opacity: 1;
}

.card-1:hover .ui{

    opacity: 1;
    transform: scale(1);

    transition: opacity 0.4s ease, transform 0.4s ease;

   animation: spin 3s linear infinite;
   top: 50%;
    left: 38%;
}

 


.top {
    position: absolute;
    top: 15px;
    left: 15px;
    height: auto;
    width: 60%;
    z-index: 5;
    transform: scale(0.7);
      transform-origin: left top;
  }
  
  .bottom {
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 5;
    transform: scale(0.7);
    transform-origin: right bottom;
 
}

.bottom2 {
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: 60%;
    height: auto;
    z-index: 5;
    transform: scale(0.8);
    transform-origin: left bottom;
}

  .card-2 {
    grid-column: 9 / span 2;
    grid-row: 2 / span 1;
    margin-right: 12%;
    margin-left: -12%;

    opacity: 0.6;
  }

  .card-2:hover{
    margin-bottom: -20%;
    margin-top: -15%;
  }

  


  .img-wrapper {
    position: absolute;
    inset: 0;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    z-index: 0;
  }


  .ui{
    position: absolute;
    opacity: 0;
    object-fit: contain;
    max-width: 100%;
    max-height:100%;
    top: 90%;
    left: 50%;
    
}

  .icon{
   opacity: 0;
   position: absolute;
   margin-left: 10%;
   margin-right: 10%;
   justify-items: center;
   padding: 20%;

  }

  
  .card-2:hover .icon{

    opacity: 1;
}

  .card-2:hover .ui{

    opacity: 1;
    transform: scale(1);

    transition: opacity 0.4s ease, transform 0.4s ease;

   animation: spin 3s linear infinite;

   margin-top: -10%;
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }




  .card-3 {
    grid-column: 8 / span 5;
    grid-row: 4 / span 3;
    margin-top: 5%;
    margin-bottom: 5%;
    opacity: 0.6;
    overflow: hidden;
    padding-top: 2%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;

  }

  .card-video{
      z-index: 1;
      position: absolute;
      left: 2%;
      top: 4%;
      bottom:4%;
      height: 92%;
      width: 96%;
      overflow: hidden;
  }




.bg-svg {
    z-index: 0;
    pointer-events: none;
    grid-area: 1 / 1;   /* 🔥 重叠关键 */
    
    justify-content: center;
    align-items: center;
    
    position: absolute;
    top: 50%;
    left: 50%;
   transform: translate(-50%, -50%);
  
}


  
  .bg-svg svg {
        width: 60vw;
        opacity: 0.8;
        z-index: 1;
  }

  

  #flowPath {
    animation:fadeinout 4s infinite;

  }

  @keyframes fadeinout{
    0%{
        opacity: 100%;
    }
    50%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}


  .triggerSection svg{
    width: 60vw;
    opacity: 0.8;
    z-index: 1;

  }

  .grid {
    position: sticky;
    height: 95vh;
    z-index: 20;   /* 在 SVG 上面 */
    max-width: 90vw;
  }
  
  .system-svg .path {
    stroke: rgba(255,255,255,0.2);
    stroke-width: 1.5;
    fill: none;
  }
  
  /* 🔥 流动线（可选但强烈建议） */
  .system-svg .path {
    stroke-dasharray: 20 200;
    animation: flow 6s linear infinite;
  }
  
  @keyframes flow {
    from { stroke-dashoffset: 0; }
    to { stroke-dashoffset: -220; }
  }


  .glow-dot {
    transform-origin: center;
    animation: pulse 1.8s ease-in-out infinite;
  }
  
  @keyframes pulse {
    0% {
      opacity: 0.4;
      transform: scale(0.8);
    }
    50% {
      opacity: 1;
      transform: scale(1.3);
    }
    100% {
      opacity: 0.4;
      transform: scale(0.8);
    }
  }


  .flow {
    stroke: rgba(255,255,255,0.2);
    stroke-width: 1.5;
    fill: none;
    z-index: 50;
  }
  
  /* 🔥 发光流动线（关键） */
  .flow {
    fill: none;
  stroke: #8aa6ff;
  stroke-width: 1;

  transform: rotate(-90deg);
  transform-origin: 60px 60px;

  stroke-dasharray: 314;
  stroke-dashoffset: 314;

  animation: drawCircle 4s forwards;
}

@keyframes drawCircle {
    from {
      stroke-dashoffset: 314;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  

  .orbit {
    fill: none;
    stroke-width: 2;
    stroke: #8aa6ff;
  
    filter: drop-shadow(0 0 6px #8aa6ff);
  }

  .orbit-lg {
    stroke-dasharray: 20 2320;
  
    animation: orbitGrow 3s linear infinite;
  }

  .orbit-md {
    stroke: #a8c1ff;
  
    stroke-dasharray: 20 1885; /* 2π×300≈1885 */
  
    animation: orbitGrowReverse 5s linear infinite;
  }

  .orbit-sm {
    stroke: #c7d8ff;
  
    stroke-dasharray: 20 1507; /* 2π×240≈1507 */
  
    animation: orbitGrowFast 4s linear infinite;
  }

  @keyframes orbitGrow {
    0% {
      stroke-dasharray: 10 2320;
      stroke-dashoffset: 0;
    }
  
    50% {
      stroke-dasharray: 1800 2320;
    }
  
    70% {
      stroke-dasharray: 2320 2320;
    }
  
    100% {
      stroke-dasharray: 10 2320;
      stroke-dashoffset: -2320;
    }
  }

  @keyframes orbitGrowReverse {
    0% {
      stroke-dasharray: 10 1885;
      stroke-dashoffset: 0;
    }
  
    50% {
      stroke-dasharray: 1400 1885;
    }
  
    70% {
      stroke-dasharray: 1885 1885;
    }
  
    100% {
      stroke-dasharray: 10 1885;
      stroke-dashoffset: +1885;  /* 👈 方向反了 */
    }
  }

  @keyframes orbitGrowFast {
    0% {
      stroke-dasharray: 10 1507;
      stroke-dashoffset: 0;
    }
  
    60% {
      stroke-dasharray: 1200 1507;
    }
  
    100% {
      stroke-dasharray: 10 1507;
      stroke-dashoffset: -1507;
    }
  }



  .textblock{
      

  }
 
  
  .footer {
    margin-top: 10vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.147);
    backdrop-filter: blur(20px);
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    letter-spacing: 0px;
  }


  
  /* 标题 */
  .footer-title {
    font-size: 12px;
    letter-spacing: 2px;
    color: white;
    margin-bottom: 10px;
    opacity: 0.8;
  }
  
  /* 内容 */
  .footer-block p {
    font-size: 13px;
    line-height: 1.6;
    opacity: 0.7;
  }
  

  .footer div{
      padding:0;
  }

  .footer-container{
    max-width: 90vw;
    max-height: 40vh;
    min-height: 40vh;
    position: absolute;
    margin-left: 5vw;
    margin-right: 5vw;
    display: grid;
  
    /* 👉 列（红色） */
    grid-template-columns: repeat(3, 1fr);
  
    /* 👉 行 */
    grid-template-rows: repeat(2, 1fr);

    /* 👉 gap（蓝色） */
    gap: 20px;

    z-index: 4;

    grid-area: 1 / 1;   /* 🔥 重叠关键 */

    padding: 0%;
  }

.footer-logo{
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    width: 30vw;
    display: flex;
    flex-direction: row;
}

.team{
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    width: 30vw;
    display: flex;
    flex-direction: column;
    font-weight: 300;
}

.contact{
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
    width: 30vw;
    display: flex;
    flex-direction: column;
    font-weight:  300;
}

 /* 底部 */
 .footer-bottom {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    max-width: 30vw;
    font-size: 10px;
    opacity: 0.5;
    margin-top:  auto;
    font-weight:  300;
  }
  
  .smalltext{
    font-size: 13px;
    font-weight: 100;
    color:#ffffffb5 ;
    margin-right: 10px;
    line-height: 12px;
  }

.logo2{
    position: absolute;
    top: 0;
    left:0;
}

.text-container{
    display: flex;
    flex-direction: row;
    row-gap: 10px;
}

 
.smalltext2{
    font-size: 13px;
    font-weight: 100;
    color:#ffffffb5 ;
    margin-left: auto;
  }
